apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: user-service
          image: danilomanmohanlal/user-service:cbaefe9c196f8952323e8859aacf0906a9510627
        #image: tiangolo/uwsgi-nginx-flask:python3.9
        #image: danilomanmohanlal/user-service:cbaefe9c196f8952323e8859aacf0906a9510627
          imagePullPolicy: Always
          ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: default
spec:
  selector:
    app: user-service
  ports:
  - port: 80
    targetPort: 80
  type: NodePort

